<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs Management</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>

<body>
    <!-- #nav-->
    <nav th:replace="admin/_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Management</h2 >
                <a href="#" class="active m-item item m-mobile-hide"><i class="home icon"></i>Home Page</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>Category</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>Tags</a>
                <div class="right menu m-item m-mobile-hide">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img src="../../static/images/kurisu.JPG" alt="" class="ui avatar image">
                            Adifice
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" class="item">Log out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" th:href="@{/admin/blogs/input}" class="item">Submit</a>
                <a href="#" th:href="@{/admin/blogs}" class="active teal item">List</a>
            </div>  
        </div>
    </div>
    <!-- #content# -->
    <div class="m-container-small m-padded-tb-big">
        <div class="ui container">
            <div class="ui secondary segment form">
                <input type="hidden" name="page">
                <div class="inline fields">
                    <div class="field">
                        <input type="text" name="title" placeholder="Title">
                    </div>
                    <div class="field">
                        <div class="ui labeled action input">
                            <div class="ui type selection dropdown">
                                <input type="hidden" name="type">
                                <i class="dropdown icon"></i>
                                <div class="default text">Category</div>
                                <div class="menu">
                                    <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">Error</div>
                                    <!--/*-->
                                    <div class="item" data-value="2">Log</div>
                                    <!--*/-->
                                </div>
                            </div>
                            <button class="ui clear button">Clear</button>
                        </div>

                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="recommend" name="recommend">
                            <label for="recommend">Recommend</label>
                        </div>
                    </div>
                    <div class="field">
                        <button type="button" id="search-btn" class="ui mini teal basic button"><i class="search icon"></i>Search</button>
                    </div>
                </div>
            </div>
            <div id="table-container">
                <table th:fragment="blogList" class="ui compact teal table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Recommend</th>
                        <th>Status</th>
                        <th>Update time</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="blog, iterStat : ${page.content}">
                        <td th:text="${iterStat.count}">1</td>
                        <td th:text="${blog.title}">title</td>
                        <td th:text="${blog.type.name}">types</td>
                        <td th:text="${blog.recommend? 'Yes' : 'No'}">Yes</td>
                        <td th:text="${blog.published? '发布' : '草稿'}">草稿</td>
                        <td th:text="${blog.updateTime}">2020-02-02</td>
                        <td>
                            <a href="#" th:href="@{/admin/blogs/{id}/input(id=${blog.id})}" class="ui mini teal basic button">Edit</a>
                            <a href="#" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}" class="ui mini red basic button">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="7">
                            <div class="ui mini pagination menu" th:if="${page.totalPages} > 1">

                                <a onclick="page(this)" th:attr="data-page=${page.number}-1" class="icon item" th:unless="${page.first}">
                                    <i class="left chevron icon"></i>
                                </a>
                                <a onclick="page(this)" th:attr="data-page=${page.number}+1" class="icon item" th:unless="${page.last}">
                                    <i class="right chevron icon"></i>
                                </a>

                            </div>
                            <a href="#" th:href="@{/admin/blogs/input}" class="ui right floated mini teal basic button">New</a>
                        </th>
                    </tr>
                    </tfoot>
                </table>
                <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                    <i class="close icon"></i>
                    <div class="header">Notifications: </div>
                    <p th:text="${message}">Succeed</p>
                </div>
            </div>

        </div>
    </div>
    <!-- #footer -->
    <footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <img src="../../static/images/kurisu.JPG" alt="" class="ui rounded image" style="width: 110px;">
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted">Latest Blog</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">User's Story</a>
                        <a href="#" class="item"></a>
                        <a href=""></a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted">Latest Blog</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">User's Story</a>
                        <a href="#" class="item"></a>
                        <a href=""></a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Adifice</h4>
                    <p>This is my blog!</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p>Copyright 2021-2022 Designed by Adifice</p>
        </div>

    </footer>

    <!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <!--/*/</th:block>/*/-->
    <script>
        function page(obj) {
            $("[name='page']").val($(obj).data("page"));
            loaddata();
        }
        $('.message .close')
            .on('click',function(){
                $(this)
                    .closest('.message')
                    .transition('fade');
            });
        $('.clear.button')
            .on('click',function(){
                $('.ui.type.dropdown')
                    .dropdown('clear');
            })
        $("#search-btn").click(function () {
            $("[name='page']").val(0);
            loaddata();
        });

        function loaddata() {
            $("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search",{
                title : $("[name='title']").val(),
                typeId : $("[name='typeId']").val(),
                recommend : $("[name='recommend']").prop('checked'),
                page : $("[name='page']").val()
            });
        }

        $('.menu.toggle').click(function (){
            $('.m-item').toggleClass('m-mobile-hide');
        });
        $('.ui.dropdown').dropdown({
            on: 'hover'
        });
    </script>
</body>

</html>